.body{
   background-color: rgb(250, 237, 222);
    margin: 0%;
    padding: 0%;
    padding: 0%;
}
.visitbut{
display: flex;
flood-opacity: 0.9;
float: left;
}

.bookdemo{
/*position: fixed;
writing-mode: vertical-lr;
margin-top: 10%;

*/
/*margin-top: 150px;
margin-left: 0%;*/
position: fixed;
bottom: 200px;
right: 0%;
writing-mode: vertical-lr;
opacity: 0.9;

width: 30px;

width: 35px;

height: fit-content;
background-color: rgba(75, 251, 0, 0.941);
color: rgb(16, 5, 15);
font-style: italic;
font-weight: bold;
}

.topbars{
    
    /*background-color: rgb(250, 250, 250);*/
    background-image: url('milkbgimg.png');
    background-size: cover;
    width:100%;
    font-weight: bold;
    display: grid;
    grid-template-columns: -1fr 1fr 2fr;
    
    /*justify-content: center;/*space-around or space-betweenor  stretch 
    align-items: center;*/

}

.topright{
    margin-right: 50px;
    position: inherit;
    flex-flow: left;
    
}
.topleft{
    margin-left: 50px;
}

.addressbaricon{
    margin-left: 50px;
}

.logo{
    /*background-image: url('logobg.png');
    background-repeat: repeat-x;   
    background-color: rgb(0,44,106);
    background-repeat: repeat;
    
     width: 100%;
    text-align: center;
    border-style: solid;
    display: block;
     */
}

.logosymbol{
    width: 100px;
    margin-left: 50px;
}

.ul .li{
    list-style: none ;
    display: inline-block;
    padding: 0px 10px;
    font-weight: bold;
}

.ull .lil{
    list-style: none ;
    display: inline-block;
    padding: 0px 50px;
    font-weight: bold;
}

.menuitems{
    background-image: url('milkbgimg.png');
    background-size: cover;

}

.container1{
    background-image: url('milkbgimg4.png');
    background-repeat: no-repeat;
    width: auto;
    height: fit-content;
    
}

.abt{
    padding-left: 25%;
    color: black;
    opacity: 0.9;
   
}
.abt .parag{
    display: block;
    padding-left: 3%;
    text-align: left;
    color: black;
    font-weight: bold;
 
    
   
}
.navbar{
    background-color: rgb(0,44,106);
}
.navbar-brand{
    color: white;
    padding: 0 30px 0 70px;
  
    font-weight: bold;
   font-family: cursive;
}
.abt .heading{
    color: rgb(0, 0, 248);
    font-weight: bold;
    /* padding-right:300px; */
  text-align: left;
  display: inline;
    
}

.milkbanner1{
   /* margin-top: -390px;
    float: left;
    width: fit-content;
    height: 500px;*/
    width: 100%;
    height: 400px;
    margin-top: -295px;
    
}

.menuheads{
    text-align: center;
    font-weight: bold;
    color: rgb(238, 9, 9);
}

.container{
    border-color: red;
    font-weight: bold;
    border-color:black;
    
}

.row{
    color: rgb(26, 26, 30);
}

.col{
    font-style: italic;   
}

.headings{
    color: rgba(255, 0, 0, 0.981);
    text-align: center;
}
.card{
    margin: 10px 0 10px 0;
}
.card-title{
    text-align: center;
}

.button{
    text-align: center;
}

.card-img-top{
    width: 100px;
    height: 200px;
}

.gap{
    
}

.containert{
    text-align: center;
}

.p{
    text-align: center;
    font-weight: bold;
}

.produc{
    background-color: bisque;
}

.footers{
    background-color: rgb(30,30,30);
}

.containerfoot{
    margin-top: 50px;
}

.ft{
    margin-left: 50px;
    color: red;
}

.fc{
    margin-left: 40px;
    font-weight: bold;
    color: white;

}

.copyrights12{
    background-color: black;
    color: white;
}

.cptxt{
    font-weight: bold;
}

.col2-1{
    margin-left: 20px;
    text-align: left;
}

.col2-2{
    text-align: right;
    padding-bottom: 50px;
}

.uls .lis{
    list-style: none ;
    display: inline-block;
    padding: 0px 10px;
    font-weight: bold;
}
